<div class="container">
    <h1 class="text-center mt-5">Versionamiento</h1>
    <div class="accordion mt-5 mb-5" id="accordionExample">
        <!-- palindromos -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#palindromo"
                    aria-expanded="true" aria-controls="palindromo">
                    Feature Palindromo
                </button>
            </h2>
            <div id="palindromo" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Feature Palindromo. </strong>Función que evalua si una palabra es palindroma o no.
                    <br>
                    <p class="salida text-center">{{salida_palindromo}}</p>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">
                            <small>Ingrese la palabra a evaluar</small>
                        </label>
                        <input type="text" class="form-control" id="palabra-palindroma" placeholder="Palabra"   [(ngModel)]="palabra_palindroma"
                        [ngModelOptions]="{ standalone: true }">
                    </div>
                    <button (click)="validar_palindromo()" type="button" class="btn btn-primary">Validar Palindromo</button>
                </div>
            </div>
        </div>
            <!-- fibonacci  -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#fibonacci" aria-expanded="false" aria-controls="fibonacci">
                    Feature Fibonacci
                </button>
            </h2>
            <div id="fibonacci" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Feature Fibonacci. </strong>Función que retorna el resultado de Fibonnacci de un número
                    <br>
                    <p class="salida text-center">{{salida_fibonacci}}</p>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">
                            <small>Ingrese el número a calcular</small>
                        </label>
                        <input type="number" class="form-control" id="palabra-palindroma"  [(ngModel)]="numero_fibonacci"
                        [ngModelOptions]="{ standalone: true }">
                    </div>
                    <button (click)="calcular_fibonacci()" type="button" class="btn btn-primary">Calcular Fibonacci</button>

                </div>
            </div>
        </div>
                        <!-- primos -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#primos" aria-expanded="false" aria-controls="primos">
                    Feature Primos
                </button>
            </h2>
            <div id="primos" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Feature Primos. </strong>Función que valida si un número es primo o no.
                    <br>
                    <p class="salida text-center">{{salida_primos}}</p>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">
                            <small>Ingrese el número a validar</small>
                        </label>
                        <input type="number" class="form-control" id="palabra-palindroma"   [(ngModel)]="numero_primo"
                        [ngModelOptions]="{ standalone: true }">
                    </div>
                    <button (click)="validar_primo()" type="button" class="btn btn-primary">Verificar Primo</button>

                </div>
            </div>
        </div>
            <!-- potencia  al cubo-->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#potencia" aria-expanded="false" aria-controls="potencia">
                        Feature Potencia
                    </button>
                </h2>
                <div id="potencia" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Feature Potencia. </strong>Función que retorna la potencia al cubo del número ingresado
                        <br>
                        <p class="salida text-center">{{salida_potencia}}</p>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">
                                <small>Ingrese el número a calcular</small>
                            </label>
                            <input type="number" class="form-control" id="palabra-palindroma"   [(ngModel)]="numero_potencia"
                            [ngModelOptions]="{ standalone: true }">
                        </div>
                        <button (click)="calcular_potencia()" type="button" class="btn btn-primary">Calcular Pontecia</button>
    
                    </div>
                </div>
            </div>
            <!-- raiz cubica -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#raiz" aria-expanded="false" aria-controls="raiz">
                        Feature Raiz
                    </button>
                </h2>
                <div id="raiz" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Feature Raiz. </strong>Función que retorna la cubica del número ingresado
                        <br>
                        <p class="salida text-center">{{salida_raiz}}</p>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">
                                <small>Ingrese el número a calcular</small>
                            </label>
                            <input type="number" class="form-control" id="numero-raiz"   [(ngModel)]="numero_raiz"
                            [ngModelOptions]="{ standalone: true }">
                        </div>
                        <button (click)="calcular_raiz()" type="button" class="btn btn-primary">Calcular Raiz</button>
    
                    </div>
                </div>
            </div>
            <!-- multiplicacion -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                        Feature Multiplicación
                    </button>
                </h2>
                <div id="multi" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Feature Multiplicación </strong>Función que retorna la multiplicacion de los numero ingresados
                        <br>
                        <p class="salida text-center">{{salida_multiplicacion}}</p>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">
                                <small>Ingrese el número uno</small>
                            </label>
                            <input type="number" class="form-control" id="numero-multi1"   [(ngModel)]="num1_multiplicacion"
                            [ngModelOptions]="{ standalone: true }">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">
                                <small>Ingrese el número dos</small>
                            </label>
                            <input type="number" class="form-control" id="numero-multi2"   [(ngModel)]="num2_multiplicacion"
                            [ngModelOptions]="{ standalone: true }">
                        </div>
                        <button (click)="calcular_multiplicacion()" type="button" class="btn btn-primary">Calcular Multiplicación</button>
    
                    </div>
                </div>
            </div>
            <!-- division -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#divi" aria-expanded="false" aria-controls="divi">
                        Feature División
                    </button>
                </h2>
                <div id="divi" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Feature División. </strong>Función que retorna la division de dos números ingresados
                        <br>
                        <p class="salida text-center">{{salida_division}}</p>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">
                                <small>Ingrese el número uno</small>
                            </label>
                            <input type="number" class="form-control" id="numero-div1"   [(ngModel)]="num1_division"
                            [ngModelOptions]="{ standalone: true }">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">
                                <small>Ingrese el número dos</small>
                            </label>
                            <input type="number" class="form-control" id="numero-div2"   [(ngModel)]="num2_division"
                            [ngModelOptions]="{ standalone: true }">
                        </div>
                        <button (click)="calcular_division()" type="button" class="btn btn-primary">Calcular División</button>
    
                    </div>
                </div>
            </div>
    </div>
</div>